
.header {
  width: 100%;
  background: url('avine.jpg');
  background-repeat: no-repeat;
  background-size: 75%;
  display: inline-block;
}

h1 {
  font-family: "Eczar",sans-serif;
  color: purple;
}
.flex-container-wrapper {
  display: flex;
}

main {
    background: lightgray;
}


.hero {
    background: lightgray;
}

.content {
    background: lightgray;
}

.sidebar {
    border: 1px solid #000000;
    background: #673ab7;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}
