
.header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 1300px;
  height: 150px;
  background: url('avine.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

h1 {
  font-family: "Eczar",sans-serif;
  color: #e8fc4a;
  font-size: 64px;
  text-align: center;
}

.container {
  display: flex;
  font-family: "Gayathri",sans-serif;
}


.hero {
    background: lightgray;
}

.content {
    background: lightblue;
}

.sidebar {
    border: 1px solid #000000;
    background: lightyellow;
}

.footer {
    border: 1px solid #000000;
    background: lightgray;
    text-align: center;
}
