body {
  font-family: 'Gayathri', sans-serif;

}

.login-container {
background-image: url('wallvines.png');
background-repeat: repeat;
background-size: cover;
height: 150vh;
width: 100%;
}

.login-header {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 200px;
  font-family: 'Eczar',sans-serif;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email {
  height:40px;
  width:160px;
  border:2px solid green;
  font-weight: bold;
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
}
.password {
  height:40px;
  width:160px;
  border:2px solid green;
  font-weight: bold;
  margin: 3px;
  text-align: center;
  text-transform: uppercase;
}
.login-button {
height: 40px;
width: 160px;
color: green;
display: inline;
font-weight: bold;
margin: 3px;
text-transform: uppercase;
}
.login-redirect {
  display: block;
  font-size: 38px;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.login-redirect a {
  color: pink;
  text-decoration: none;
}
.navbar {
  width: 1200px;
  display: flex;
  align-self: center;
}

.navlinks {
  display: flex;
  list-style: none;
  width: 1200px;
  align-items: center;

}
.navitem {
  display: inline-block;
  justify-content: space-around;
  padding: 0px 80px 0px 100px;
  font-family: 'Eczar',sans-serif;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header {
    background: #03a9f4;
}
.sub-heading {
    background: #d22b1f;
}
.content {
    background: #129a22;
    flex: 1
}
}
.footer {
    border: 1px solid #000000;
    background: #616161;
}
